// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 nav ul li{
 	font-size: 2em;
 	font-family: Arial, sans serif;
 	color: darkblue;
 }

 h1 {
 	font-family: Arial, sans serif;
 	text-align: left;
 	color: orangered;
 }

 footer {
 	font-family: courier new;
 	color: brown;
 }